@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}

::selection {
  color: #fff;
  background: #d43f8d;
}

.container {
  width: 330px;
  background: #fff;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  text-align: left;
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

label {
  display: inline; /* Change to inline */
  margin-bottom: 0; /* Remove bottom margin */
}

input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-color: #d43f8d;
}

input[type="checkbox"] {
  display: inline-block; /* Keep checkbox inline */
  margin-right: 10px; /* Space between checkbox and label */
}

/* Custom styles to improve appearance */
select:hover {
  border-color: #d43f8d;
}

textarea {
  resize: vertical;
}

input[type="submit"],
input[type="reset"],
input[type="checkbox"] {
  background-color: #d43f8d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="checkbox"]:hover {
  background-color: #d43f8d;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  margin: auto;
  padding: 20px;
  background: #d43f8d;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}

.close-popup:hover {
  color: #ccc;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: #d43f8d;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d43f8d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d43f8d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
    width: 90%;
  }
}
